@using Syncfusion.Blazor.Layouts
@using Proj_APBD.Client.Models
@inject NavigationManager NavigationManager

<DashboardLayoutPanel>
            <HeaderTemplate>
                <div>@Stock.Name, [@Stock.Ticker]</div>
            </HeaderTemplate>
            <ContentTemplate>
                <div>
                    <div>
                        <img src="@Stock.LogoUrl" alt="@Stock.Ticker" width="20%"/>
                    </div>
                    <div>Sector: @Stock.Sector</div>
                    <div>Country: @Stock.Country</div>
                    <div>
                        <SfButton CssClass="e-danger" @onclick="@GotoChart">Chart</SfButton>
                    </div>
                </div>
            </ContentTemplate>
        </DashboardLayoutPanel>

@code {
    [Parameter]
    public WatchlistStock Stock { get; set; }

    private void GotoChart()
    {
        NavigationManager.NavigateTo("");
    }
}